<div class="menu-logo-container">
  <div class="menu-logo">
    <img src="https://res.cloudinary.com/dyvrpbbez/image/upload/v1696428312/me.n.u_final__720_fcuaht.png" class="menu-logo-image">
  </div>
</div>
<br>
<div class="menu-container">
  <% unless @restaurant_items.empty? %>
    <div class="menu-section">
      <h2>Starters</h2>
      <br>
      <div class="row">
        <% @starters.each do |item| %>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <% if item.photo.present? %>
                  <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo', style: 'max-height: 200px; width: auto;' %>
                <% end %>
                <h5 class="card-title"><%= item.item_name %></h5>
                <p class="card-text">R<%= item.item_price %></p>
                <% if user_signed_in? %>
                  <% if current_user.restaurant %>
                    <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                      <div data-controller="toggle" class="mt-5">
                        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Edit item info</button>
                        <div data-toggle-target="togglableElement" class="d-none">
                          <%= simple_form_for item do |f| %>
                            <%= f.input :item_name %>
                            <%= f.input :item_price %>
                            <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category" %>
                            <%= f.input :photo, as: :file  %>
                            <%= f.submit "+", class:"btn btn-outline-primary" %>
                          <% end %>
                        </div>
                      </div>
                      <div>
                        <%= link_to "Delete",
                        item_path(item),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: 'btn btn-outline-success btn-sm' %>
                      </div>
                    <% end %>
                  <% end %>
                  <% if current_user.customer %>
                    <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                      <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                    <% else %>
                      <%= button_to 'Item Upvoted', disabled: true %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="menu-section">
      <h2>Mains</h2>
      <br>
      <div class="row">
        <% @mains.each do |item| %>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <% if item.photo.present? %>
                  <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo', style: 'max-height: 200px; width: auto;' %>
                <% end %>
                <h5 class="card-title"><%= item.item_name %></h5>
                <p class="card-text">R<%= item.item_price %></p>
                <% if user_signed_in? %>
                  <% if current_user.restaurant %>
                    <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                      <div data-controller="toggle" class="mt-5">
                        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Edit item info</button>
                        <div data-toggle-target="togglableElement" class="d-none">
                          <%= simple_form_for item do |f| %>
                            <%= f.input :item_name %>
                            <%= f.input :item_price %>
                            <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category" %>
                            <%= f.input :photo, as: :file  %>
                            <%= f.submit "+", class:"btn btn-outline-primary" %>
                          <% end %>
                        </div>
                      </div>
                      <div>
                        <%= link_to "Delete",
                        item_path(item),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: 'btn btn-outline-success btn-sm' %>
                      </div>
                    <% end %>
                  <% end %>
                  <% if current_user.customer %>
                    <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                      <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                    <% else %>
                      <%= button_to 'Item Upvoted', disabled: true %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="menu-section">
      <h2>Desserts</h2>
      <br>
      <div class="row">
        <% @desserts.each do |item| %>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <% if item.photo.present? %>
                  <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo', style: 'max-height: 200px; width: auto;' %>
                <% end %>
                <h5 class="card-title"><%= item.item_name %></h5>
                <p class="card-text">R<%= item.item_price %></p>
                <% if user_signed_in? %>
                  <% if current_user.restaurant %>
                    <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                      <div data-controller="toggle" class="mt-5">
                        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Edit item info</button>
                        <div data-toggle-target="togglableElement" class="d-none">
                          <%= simple_form_for item do |f| %>
                            <%= f.input :item_name %>
                            <%= f.input :item_price %>
                            <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category" %>
                            <%= f.input :photo, as: :file  %>
                            <%= f.submit "+", class:"btn btn-outline-primary" %>
                          <% end %>
                        </div>
                      </div>
                        <div>
                          <%= link_to "Delete",
                          item_path(item),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                          class: 'btn btn-outline-success btn-sm' %>
                        </div>
                    <% end %>
                  <% end %>
                  <% if current_user.customer %>
                    <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                      <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                    <% else %>
                      <%= button_to 'Item Upvoted', disabled: true %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="menu-section">
      <h2>Drinks</h2>
      <br>
      <div class="row">
        <% @drinks.each do |item| %>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <% if item.photo.present? %>
                  <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo', style: 'max-height: 200px; width: auto;' %>
                <% end %>
                <h5 class="card-title"><%= item.item_name %></h5>
                <p class="card-text">R<%= item.item_price %></p>
                <% if user_signed_in? %>
                  <% if current_user.restaurant %>
                    <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                      <div data-controller="toggle" class="mt-5">
                        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Edit item info</button>
                        <div data-toggle-target="togglableElement" class="d-none">
                          <%= simple_form_for item do |f| %>
                            <%= f.input :item_name %>
                            <%= f.input :item_price %>
                            <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category" %>
                            <%= f.input :photo, as: :file  %>
                            <%= f.submit "+", class:"btn btn-outline-primary" %>
                          <% end %>
                        </div>
                      </div>
                        <div>
                          <%= link_to "Delete",
                          item_path(item),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                          class: 'btn btn-outline-success btn-sm' %>
                        </div>
                    <% end %>
                  <% end %>
                  <% if current_user.customer %>
                    <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                      <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                    <% else %>
                      <%= button_to 'Item Upvoted', disabled: true %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% if user_signed_in? %>
    <% if current_user.restaurant %>
      <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
        <div data-controller="toggle" class="mt-5">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new item</button>
          <div data-toggle-target="togglableElement" class="d-none">
            <%= simple_form_for @item, url: restaurant_menu_items_path(@restaurant_menus.first) do |f| %>
              <%= f.input :item_name %>
              <%= f.input :item_price %>
              <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category" %>
              <%= f.input :photo, as: :file  %>
              <%= f.submit "+", class:"btn btn-outline-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% else %>
  <div class="justify-content-center d-flex">
    <p>No menu uploaded yet...</p>
  </div>
  <% end %>
</div>
