<div class="menu-logo-container">
  <div class="menu-logo">
    <img src="https://res.cloudinary.com/dyvrpbbez/image/upload/v1696428312/me.n.u_final__720_fcuaht.png" class="menu-logo-image">
  </div>
</div>
<br>
<div class="menu-container">
  <% unless @restaurant_items.empty? %>
    <h2>Starters</h2>
    <br>
    <div class="row">
      <% @starters.each do |starter| %>
        <div class="col-md-6">
          <div class="card">
            <%#= cl_image_tag starter.photo.key, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= starter.item_name %></h5>
              <p class="card-text">R<%= starter.item_price %></p>
              <% if user_signed_in? %>
                <% if current_user.customer %>
                  <% unless current_user.customer.ratings.exists?(item_id: starter.id) %>
                    <%= button_to 'Upvote this item', upvote_path(starter), method: :post %>
                  <% else %>
                    <%= button_to 'Item Upvoted', disabled: true %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>
    <h2>Mains</h2>
    <br>
    <div class="row">
      <% @mains.each do |main| %>
        <div class="col-md-6">
          <div class="card">
            <%#= cl_image_tag main.photo.key, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= main.item_name %></h5>
              <p class="card-text">R<%= main.item_price %></p>
              <% if user_signed_in? %>
                <% if current_user.customer %>
                  <% unless current_user.customer.ratings.exists?(item_id: main.id) %>
                    <%= button_to 'Upvote this item', upvote_path(main), method: :post %>
                  <% else %>
                    <%= button_to 'Item Upvoted', disabled: true %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>
    <h2>Desserts</h2>
    <br>
    <div class="row">
      <% @desserts.each do |dessert| %>
        <div class="col-md-6">
          <div class="card">
            <%#= cl_image_tag dessert.photo.key, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= dessert.item_name %></h5>
              <p class="card-text">R<%= dessert.item_price %></p>
              <% if user_signed_in? %>
                <% if current_user.customer %>
                  <% unless current_user.customer.ratings.exists?(item_id: dessert.id) %>
                    <%= button_to 'Upvote this item', upvote_path(dessert), method: :post %>
                  <% else %>
                    <%= button_to 'Item Upvoted', disabled: true %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>
    <h2>Drinks</h2>
    <br>
    <div class="row">
      <% @drinks.each do |drink| %>
        <div class="col-md-6">
          <div class="card">
            <%#= cl_image_tag drink.photo.key, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= drink.item_name %></h5>
              <p class="card-text">R<%= drink.item_price %></p>
              <% if user_signed_in? %>
                <% if current_user.customer %>
                  <% unless current_user.customer.ratings.exists?(item_id: drink.id) %>
                    <%= button_to 'Upvote this item', upvote_path(drink), method: :post %>
                  <% else %>
                    <%= button_to 'Item Upvoted', disabled: true %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
  <div class="justify-content-center d-flex">
    <p>No menu uploaded yet...</p>
  </div>
  <% end %>
</div>
