<br>
<div class="menu-container">
  <% unless @restaurant_items.empty? %>

    <div class="menu-section starter">
      <h2 class="restaurant-heading">Starters</h2>
      <br>
      <div class="row">
        <% @starters.each do |item| %>
          <div class="col-md-6">
            <div class="card d-flex">
              <div class="card-body d-flex justify-content-between align-items-center">
                <% if item.photo.present? %>
                  <div class="circular-image">
                    <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo' %>
                  </div>
                <% end %>
                <div class="item-info">
                  <h5 class="item-heading"><%= item.item_name %></h5>
                  <p class="item-card-info">R<%= item.item_price %></p>
                </div>
                <div class="actions">
                  <% if user_signed_in? %>
                    <% if current_user.restaurant %>
                      <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                        <div data-controller="toggle">
                          <button data-action="click->toggle#fire" class="btn">
                            <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                          </button>
                          <div data-toggle-target="togglableElement" class="d-none">
                            <%= simple_form_for item do |f| %>
                              <%= f.input :item_name %>
                              <%= f.input :item_price %>
                              <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category" %>
                              <%= f.input :photo, as: :file  %>
                              <%= f.submit "+", class: "btn" %>
                            <% end %>
                          </div>
                          <div class="icon-container">
                            <%= link_to item_path(item), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn' do %>
                              <i class="fa-solid fa-trash fa-lg" style="color: #000000; outline: none;"></i>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <div class="upvotes">
                      <% if current_user.customer %>
                        <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                          <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                        <% else %>
                          <%= button_to 'Item Upvoted', disabled: true %>
                        <% end %>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="menu-container">
      <div class="menu-section mains">
        <h2 class="restaurant-heading">Mains</h2>
        <br>
        <div class="row">
          <% @mains.each do |item| %>
            <div class="col-md-6">
              <div class="card d-flex">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <% if item.photo.present? %>
                    <div class="circular-image">
                      <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo' %>
                    </div>
                  <% end %>
                  <div class="item-info">
                    <h5 class="info-heading"><%= item.item_name %></h5>
                    <p class="restaurant-card-info">R<%= item.item_price %></p>
                  </div>
                  <div class="actions">
                    <% if user_signed_in? %>
                      <% if current_user.restaurant %>
                        <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                          <div data-controller="toggle">
                            <button data-action="click->toggle#fire" class="btn">
                              <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            </button>
                            <div data-toggle-target="togglableElement" class="d-none">
                              <%= simple_form_for item do |f| %>
                                <%= f.input :item_name, label_html: { class: 'black-label' } %>
                                <%= f.input :item_price, label_html: { class: 'black-label' } %>
                                <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category", label_html: { class: 'black-label' } %>
                                <%= f.input :photo, as: :file, label_html: { class: 'black-label' } %>
                                <%= f.submit "+", class: "btn" %>
                              <% end %>
                            </div>
                            <div class="icon-container">
                              <%= link_to item_path(item), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn' do %>
                                <i class="fa-solid fa-trash fa-lg" style="color: #000000; outline: none;"></i>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      <% if current_user.customer %>
                        <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                          <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                        <% else %>
                          <%= button_to 'Item Upvoted', disabled: true %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br>

    <div class="menu-container">
      <div class="menu-section desserts">
        <h2 class="restaurant-heading">Desserts</h2>
        <br>
        <div class="row">
          <% @drinks.each do |item| %>
            <div class="col-md-6">
              <div class="card d-flex">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <% if item.photo.present? %>
                    <div class="circular-image">
                      <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo' %>
                    </div>
                  <% end %>
                  <div class="item-info">
                    <h5 class="info-heading"><%= item.item_name %></h5>
                    <p class="restaurant-card-info">R<%= item.item_price %></p>
                  </div>
                  <div class="actions">
                    <% if user_signed_in? %>
                      <% if current_user.restaurant %>
                        <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                          <div data-controller="toggle">
                            <button data-action="click->toggle#fire" class="btn">
                              <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            </button>
                            <div data-toggle-target="togglableElement" class="d-none">
                              <%= simple_form_for item do |f| %>
                                <%= f.input :item_name, label_html: { class: 'black-label' } %>
                                <%= f.input :item_price, label_html: { class: 'black-label' } %>
                                <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category", label_html: { class: 'black-label' } %>
                                <%= f.input :photo, as: :file, label_html: { class: 'black-label' } %>
                                <%= f.submit "+", class: "btn" %>
                              <% end %>
                            </div>
                            <div class="icon-container">
                              <%= link_to item_path(item), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn' do %>
                                <i class="fa-solid fa-trash fa-lg" style="color: #000000; outline: none;"></i>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      <% if current_user.customer %>
                        <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                          <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                        <% else %>
                          <%= button_to 'Item Upvoted', disabled: true %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br>

    <div class="menu-container">
      <div class="menu-section drinks">
        <h2 class="restaurant-heading">Drinks</h2>
        <br>
        <div class="row">
          <% @drinks.each do |item| %>
            <div class="col-md-6">
              <div class="card d-flex">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <% if item.photo.present? %>
                    <div class="circular-image">
                      <%= cl_image_tag item.photo.key, class: 'd-block mx-auto', alt: 'Dish Photo' %>
                    </div>
                  <% end %>
                  <div class="item-info">
                    <h5 class="info-heading"><%= item.item_name %></h5>
                    <p class="restaurant-card-info">R<%= item.item_price %></p>
                  </div>
                  <div class="actions">
                    <% if user_signed_in? %>
                      <% if current_user.restaurant %>
                        <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
                          <div data-controller="toggle">
                            <button data-action="click->toggle#fire" class="btn">
                              <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                            </button>
                            <div data-toggle-target="togglableElement" class="d-none">
                              <%= simple_form_for item do |f| %>
                                <%= f.input :item_name, label_html: { class: 'black-label' } %>
                                <%= f.input :item_price, label_html: { class: 'black-label' } %>
                                <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category", label_html: { class: 'black-label' } %>
                                <%= f.input :photo, as: :file, label_html: { class: 'black-label' } %>
                                <%= f.submit "+", class: "btn" %>
                              <% end %>

                            </div>
                            <div class="icon-container">
                              <%= link_to item_path(item), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn' do %>
                                <i class="fa-solid fa-trash fa-lg" style="color: #000000; outline: none;"></i>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                      <% if current_user.customer %>
                        <% unless current_user.customer.ratings.exists?(item_id: item.id) %>
                          <%= button_to 'Upvote this item', upvote_path(item), method: :post %>
                        <% else %>
                          <%= button_to 'Item Upvoted', disabled: true %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="justify-content-center d-flex">
        <% if user_signed_in? %>
          <% if current_user.restaurant %>
            <% if current_user.restaurant.restaurant_menus.first.id == @restaurant_menus.first.id %>
              <div data-controller="toggle" class="mt-5">
                <button data-action="click->toggle#fire" class="btn btn-outline-dark">Add a new item</button>
                <div data-toggle-target="togglableElement" class="d-none">
                  <%= simple_form_for @item, url: restaurant_menu_items_path(@restaurant_menus.first) do |f| %>
                        <%= f.input :item_name, label_html: { class: 'black-label' } %>
                        <%= f.input :item_price, label_html: { class: 'black-label' } %>
                        <%= f.input :category, collection: ["starter", "main", "dessert", "drink"], include_blank: "Select a category", label_html: { class: 'black-label' } %>
                        <%= f.input :photo, as: :file, label_html: { class: 'black-label' } %>
                        <%= f.submit "+", class: "btn" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="justify-content-center d-flex">
        <p>No menu uploaded yet...</p>
      </div>
    <% end %>
</div>
