<div class="home-header">
  <h1><%= @this_restaurant.name %> Menu</h1>
  <p>Page 1 of <%= @this_restaurant.restaurant_menus.count %></p>
  <%= link_to "View Full Menu", restaurant_restaurant_menus_path(@this_restaurant, @restaurant_menu), class: "btn btn-outline-warning" %>
</div>
<div>
<br>

<div class="sub-heading">
  <h2 class="sub-heading">Starters</h2>
</div>

<div class="item-row">
  <% @starters.each do |starter| %>
    <div class="col-md-6">
      <div class="item-card">
        <div class="card-body">
          <p class="card-title"><strong><%= starter.item_name %></strong></p>
          <p class="card-text">R<%= starter.item_price %></p>
          <% if user_signed_in? %>
            <% if current_user.customer %>
              <% unless current_user.customer.ratings.exists?(item_id: starter.id) %>
                <%= button_to upvote_path(starter), method: :post, class: "btn btn-link" do %>
                  <i class="far fa-thumbs-up"></i> Upvote this item
                <% end %>
              <% else %>
                <%= button_to "Item Upvoted", disabled: true, class: "btn btn-link" do %>
                  <i class="fas fa-thumbs-up"></i> Item Upvoted
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div>
  <h2 class="sub-heading">Mains</h2>
</div>
<div class="item-row">
  <% @mains.each do |main| %>
    <div class="col-md-6">
      <div class="item-card">
        <div class="card-body">
          <p class="card-title"><strong><%= main.item_name %></strong></p>
          <p class="card-text">R<%= main.item_price %></p>
          <% if user_signed_in? %>
            <% if current_user.customer %>
              <% unless current_user.customer.ratings.exists?(item_id: main.id) %>
                <%= button_to upvote_path(main), method: :post, class: "btn btn-link" do %>
                  <i class="far fa-thumbs-up"></i> Upvote this item
                <% end %>
              <% else %>
                <%= button_to "Item Upvoted", disabled: true, class: "btn btn-link" do %>
                  <i class="fas fa-thumbs-up"></i> Item Upvoted
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <h2 class="sub-heading">desserts</h2>
</div>
<div class="item-row">
  <% @desserts.each do |dessert| %>
    <div class="col-md-6">
      <div class="item-card">
        <div class="card-body">
          <p class="card-title"><strong><%= dessert.item_name %></strong></p>
          <p class="card-text">R<%= dessert.item_price %></p>
          <% if user_signed_in? %>
            <% if current_user.customer %>
              <% unless current_user.customer.ratings.exists?(item_id: dessert.id) %>
                <%= button_to upvote_path(dessert), method: :post, class: "btn btn-link" do %>
                  <i class="far fa-thumbs-up"></i> Upvote this item
                <% end %>
              <% else %>
                <%= button_to "Item Upvoted", disabled: true, class: "btn btn-link" do %>
                  <i class="fas fa-thumbs-up"></i> Item Upvoted
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <h2 class="sub-heading">Drinks</h2>
</div>
<div class="item-row">
  <% @drinks.each do |drink| %>
    <div class="col-md-6">
      <div class="item-card">
        <div class="card-body">
          <p class="card-title"><strong><%= drink.item_name %></strong></p>
          <p class="card-text">R<%= drink.item_price %></p>
          <% if user_signed_in? %>
            <% if current_user.customer %>
              <% unless current_user.customer.ratings.exists?(item_id: drink.id) %>
                <%= button_to upvote_path(drink), method: :post, class: "btn btn-link" do %>
                  <i class="far fa-thumbs-up"></i> Upvote this item
                <% end %>
              <% else %>
                <%= button_to "Item Upvoted", disabled: true, class: "btn btn-link" do %>
                  <i class="fas fa-thumbs-up"></i> Item Upvoted
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
