<div class="homepage-container">
  <div class="home-page-avatar">
    <% if user_signed_in? %>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "avatar" %>
      <% end %>
    <% end %>
  </div>
  <div class="logo-container">
    <img src="https://res.cloudinary.com/dyvrpbbez/image/upload/v1696428312/me.n.u_final__720_fcuaht.png" class="logo-image">
  </div>
</div>
<div class="restaurant-show-card">
  <h2 class="homep-header">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                wrapper_html: { class: 'col-sm-8 mx-auto' },
                label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
    <p>Are you a restaurant owner?</p>
    <%= f.check_box :restaurant_owner %>
    <%= f.input :photo, as: :file,
                  wrapper_html: { class: 'col-sm-8 mx-auto' },
                  label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                wrapper_html: { class: 'col-sm-8 mx-auto' },
                label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                wrapper_html: { class: 'col-sm-8 mx-auto' },
                label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>

      <%= f.button :submit, "Sign up", class: "btn btn-outline-success", data: { disable_with: 'Signing up...' } %>
  <% end %>
</div>
