<div class="homepage-container">
  <div class="home-page-avatar">
    <% if user_signed_in? %>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "avatar" %>
      <% end %>
    <% end %>
  </div>
  <div class="logo-container">
    <img src="https://res.cloudinary.com/dyvrpbbez/image/upload/v1696418288/me._n.u_480_rmd17z.png" class="logo-image">
  </div>
</div>
<div class="restaurant-show-card">
  <h2 class="homepage-heading text-center">Edit your info</h2>
  <%= simple_form_for [@customer] do |f| %>
    <%= f.error_notification %>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" },
                  wrapper_html: { class: 'col-sm-8 mx-auto' },
                  label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
      <%= f.input :surname,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "surname" },
                  wrapper_html: { class: 'col-sm-8 mx-auto' },
                  label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" },
                  wrapper_html: { class: 'col-sm-8 mx-auto' },
                  label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
      <%= f.input :area,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" },
                  wrapper_html: { class: 'col-sm-8 mx-auto' },
                  label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
      <%= f.input :phone_number,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "phone_number" },
                  wrapper_html: { class: 'col-sm-8 mx-auto' },
                  label_html: { class: 'listing-paragraph col-sm-2 control-label' } %>
      <%= f.button :submit, "Update info", class: "btn btn-outline-success", data: { disable_with: 'Updating...' } %>
  <% end %>
</div>

<div class="links">
  <h2 class="home-header">Edit login details, profile photo or delete your account</h2>
  <%= link_to edit_user_registration_path, class: "btn btn-outline-success" do %>
          Update Details
        <% end %>
  <%= link_to "Log out", destroy_user_session_path, class: "btn btn-outline-success" %>
</div>
