<div class="home-header"><h1>Me.N.u</h1></div>

<div class="home-page-avatar">
  <% if user_signed_in? %>
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar" %>
    <% else %>
      <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "avatar" %>
    <% end %>
  <% end %>
</div>
<br>
<div class="restaurants-row">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="restaurant-card">
        <div class="row align-items-center">
          <div class="col-12">
            <% if restaurant.photos.any? %>
              <% photo = restaurant.photos.first %>
              <div style="border-radius: 0.25rem 0.25rem 0 0; overflow: hidden;">
                <%= cl_image_tag photo.key, style: 'width: 100%;', alt: 'Restaurant Photo' %>
              </div>
            <% else %>
              <div style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; overflow: hidden;">
                <%= image_tag 'https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80', style: 'width: 100%;', alt: 'Default Photo' %>
              </div>
            <% end %>
            <div class="text-center">
              <div><strong><%= restaurant.name %></strong></div>
              <div><em><%= restaurant.category %></em></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
   <% end %>
  </div>
</div>

</div>
  <div class="links">
  <% if !user_signed_in? %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item"  %>
    <% if !current_user.restaurant_owner? %>
      <%= link_to "Edit your info", edit_customer_path(current_user.id, @customer), class: "nav-link" %>
    <% else %>
      <%= link_to "Edit your info", edit_restaurant_path(current_user.id, @restaurant), class: "nav-link" %>
    <% end %>
  <% end %>
</div>
