<h1>Me.N.u</h1>
  <div class="restaurants-row">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="restaurant">
          <h4><%= restaurant.name %></h4>
          <br>
          <div><strong><%= restaurant.category %></strong></div>
          <br>
          <div><strong><%= restaurant.address %></strong></div>
          <br>
          <div><strong><%= restaurant.phone_number %></strong></div>
          <br>
          <div><strong><%= restaurant.opening_time %></strong></div>
          <br>
          <div><strong><%= restaurant.closing_time %></strong></div>
        </div>
    <% end %>
  <% end %>
</div>

<% if !user_signed_in? %>
  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
<% end %>
<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
  <% if !current_user.restaurant_owner? %>
    <%= link_to "Edit your info", edit_user_customer_path(current_user.id, @customer), class: "nav-link" %>
    <% end %>
<% end %>
