
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if !user_signed_in? %>
<%= link_to "Login", new_user_session_path, class: "nav-link" %>
<%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
<% end %>
<% if user_signed_in? %>
<%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
<% end %>


<h1>Me.N.u</h1>
  <div class="restaurants-row">
    <% @restaurants.each do |restaurant| %>
      <%= link_to user_restaurant_path(restaurant) do %>
        <div class="restaurant">
        <% @restaurant = Restaurant.find(params[:id]) %>
          <%# user = User.find(restaurant.user_id) %>
          <h4><%= @restaurant.name %></h4>
          <br>
          <div><strong><%= restaurant.category %></strong></div>
          <br>
          <div><strong><%= restaurant.address %></strong></div>
          <br>
          <div><strong><%= restaurant.phone_number %></strong></div>
          <br>
          <div><strong><%= restaurant.operating_hours %></strong></div>
        </div>
    <% end %>
  <% end %>
</div>

