<div class="homepage-container">
  <div class="home-page-avatar">
    <% if user_signed_in? %>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "avatar" %>
      <% end %>
    <% end %>
  </div>
  <div class="logo-container">
    <img src="https://res.cloudinary.com/dyvrpbbez/image/upload/v1696428312/me.n.u_final__720_fcuaht.png" class="logo-image">
  </div>
</div>
  <div class="restaurant-show-card">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center w-100">
          <h1 class="home-header">Update your Restaurant details</h1>
          <%= simple_form_for [@restaurant] do |f| %>
            <div class="restaurant-form-group">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name" },
                          wrapper_html: { class: 'col-sm-12' },
                          label_html: { class: 'restaurant-paragraph col-sm-6 control-label' } %>
            </div>
            <div class="restaurant-form-group">
              <%= f.input :address,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "address" },
                          wrapper_html: { class: 'col-sm-12' },
                          label_html: { class: 'restaurant-paragraph col-sm-6 control-label' } %>
            </div>
            <div class="restaurant-form-group">
              <%= f.input :phone_number,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "phone_number" },
                          wrapper_html: { class: 'col-sm-12' },
                          label_html: { class: 'restaurant-paragraph col-sm-6 control-label' } %>
            </div>
            <div class="restaurant-form-group">
              <%= f.input :category,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "category" },
                          wrapper_html: { class: 'col-sm-12' },
                          label_html: { class: 'restaurant-paragraph col-sm-6 control-label' } %>
            </div>
            <div class="restaurant-form-group">
              <%= f.input :opening_time,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "opening_time" },
                          wrapper_html: { class: 'col-sm-12' },
                          label_html: { class: 'restaurant-paragraph col-sm-6 control-label' } %>
            </div>
            <div class="restaurant-form-group">
              <%= f.input :closing_time,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "closing_time" },
                          wrapper_html: { class: 'col-sm-12' },
                          label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit "Update your restaurant", class: 'btn btn-outline-success btn-sm' %>
            <% end %>
            <br>

            <p>Edit login details, profile photo or delete your account</p>

            <%= link_to edit_user_registration_path, class: "btn btn-outline-success" do %>
              Update Details
            <% end %>
        </div>
      </div>
    </div>
  </div>
