<div class="home-header"><h1>Me.N.u</h1></div>
<div class="home-page-avatar">
  <% if user_signed_in? %>
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar" %>
    <% else %>
      <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "avatar" %>
    <% end %>
  <% end %>
</div>

<div class="restaurant-show-card">
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center w-50">
          <h1 class="restaurant-heading">Create a New Restaurant</h1>
          <%= simple_form_for [@restaurant] do |f| %>
            <div class="restaurant-form-group">
                <%= f.input :name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "name" },
                            wrapper_html: { class: 'col-sm-12' },
                            label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
            <div class="restaurant-form-group">
                <%= f.input :address,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "address" },
                            wrapper_html: { class: 'col-sm-12' },
                            label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
            <div class="restaurant-form-group">
                <%= f.input :phone_number,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "phone_number" },
                            wrapper_html: { class: 'col-sm-12' },
                            label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
                      <div class="restaurant-form-group">
                <%= f.input :category,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "category" },
                            wrapper_html: { class: 'col-sm-12' },
                            label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
            <div class="restaurant-form-group">
                <%= f.input :opening_time,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "opening_time" },
                            wrapper_html: { class: 'col-sm-12' },
                            label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
            <div class="restaurant-form-group">
                <%= f.input :closing_time,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "closing_time" },
                            wrapper_html: { class: 'col-sm-12' },
                            label_html: { class: 'restaurant-paragraph col-sm-2 control-label' } %>
            </div>
              <%= f.submit "Create Restaurant", class: "btn btn-outline-warning" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
