<div class="restaurant-show-conatiner">
  <h1><%= @restaurant.name %></h1>
  <h2><%= @restaurant.category %></h2>
  <h3><%= @restaurant.address %></h3>
  <h4><%= @restaurant.phone_number %></h4>
  <p><%= @restaurant.operating_hours %></p>
</div>
