<div class="homepage-container">
  <div class="home-page-avatar">
    <% if user_signed_in? %>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "https://www.nicepng.com/png/full/115-1150821_default-avatar-comments-sign-in-icon-png.png", class: "avatar" %>
      <% end %>
    <% end %>
  </div>
  <div class="logo-container">
    <img src="https://res.cloudinary.com/dyvrpbbez/image/upload/v1696418288/me._n.u_480_rmd17z.png" class="logo-image">
  </div>
</div>
<div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
  <% if @this_restaurant.photos.any? %>
    <% @this_restaurant.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <div class="text-center">
          <%= cl_image_tag photo.key, class: 'd-block mx-auto', alt: 'Restaurant Photo', style: 'max-height: 300px; width: auto;' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="carousel-item active">
      <%= image_tag 'https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80', class: 'd-block w-100', alt: 'Default Photo' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80', class: 'd-block w-100', alt: 'Default Photo' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80', class: 'd-block w-100', alt: 'Default Photo' %>
    </div>
  <% end %>
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>


<div class="links">
  <%= link_to "View Menu", restaurant_restaurant_menus_path(@this_restaurant), class: "btn btn-outline-success btn-block" %>
</div>

<div class="restaurant-show-card">
  <h1 class="sub-heading"><strong><%= @this_restaurant.name %></strong></h1>
  <h2 class="sub-heading"><em><%= @this_restaurant.category %></em></h2>
  <h3 class="sub-heading"><%= @this_restaurant.address %></h3>
  <p class="sub-heading">Contact: <%= @this_restaurant.phone_number %></p>
  <p>Opening Time: <%= @this_restaurant.opening_time.strftime('%H:%M') %></p>
  <p>Closing Time: <%= @this_restaurant.closing_time.strftime('%H:%M') %></p>
</div>

<div class="restaurant-show-card">
  <h4 class="sub-heading">Reviews</h4>
  <ul class="list-group m-4">
    <% @this_restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comment %></li>
      <% if user_signed_in? %>
        <% if current_user.customer %>
          <% position = review.customer == current_user.customer ? "justify-content-between" : "justify-content-center" %>
          <br>
          <div class="d-flex <%= position %> align-items-center">
            <div class="align-items-center">
              <p>Rating:</p>
              <div class="star <%= 'filled' if review.rating >= 1 %>"></div>
              <div class="star <%= 'filled' if review.rating >= 2 %>"></div>
              <div class="star <%= 'filled' if review.rating >= 3 %>"></div>
              <div class="star <%= 'filled' if review.rating >= 4 %>"></div>
              <div class="star <%= 'filled' if review.rating >= 5 %>"></div>
            </div>
            <% if user_signed_in? && review.customer == current_user.customer %>
              <div>
                <%= link_to "Delete",
                  review_path(review),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: 'btn btn-outline-success btn-sm' %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<% if user_signed_in? && current_user.customer %>
  <div class="restaurant-show-card">
    <div class="m-4">
      <h2 class="sub-heading">Add a Review</h2>
      <%= simple_form_for [@this_restaurant, @review] do |form| %>
        <%= form.input :comment %>
        <%= form.input :rating, collection: [0, 1, 2, 3, 4, 5], label: "Select Rating" %>
        <%= form.submit 'Submit', class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user.id == @this_restaurant.user_id %>
  <div>
    <%= link_to "Add Menu", new_restaurant_restaurant_menu_path(@restaurant), class: "nav-link" %>
    <%= link_to "Edit your info", edit_restaurant_path(@restaurant), class: "nav-link" %>
    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item"%>
  </div>
<% end %>
