<div class="restaurant-show-conatiner">
  <h1><%= @this_restaurant.name %></h1>
  <h2><%= @this_restaurant.category %></h2>
  <h3><%= @this_restaurant.address %></h3>
  <h4><%= @this_restaurant.phone_number %></h4>
  <p><%= @this_restaurant.opening_time %></p>
  <p><%= @this_restaurant.closing_time %></p>

  <h4 class="m-4">Reviews</h4>
  <ul class="list-group m-4">
    <% @this_restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.comment %></li>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p>Rating:</p>
          <div class="star <%= 'filled' if review.rating >= 1 %>"></div>
          <div class="star <%= 'filled' if review.rating >= 2 %>"></div>
          <div class="star <%= 'filled' if review.rating >= 3 %>"></div>
          <div class="star <%= 'filled' if review.rating >= 4 %>"></div>
          <div class="star <%= 'filled' if review.rating >= 5 %>"></div>
        </div>
        <div>
          <% if user_signed_in? %>
            <% if review.customer == current_user.customer %>
              <%= link_to "Delete",
            review_path(review),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: 'btn btn-danger btn-sm' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= link_to "View Menu", restaurant_menu_path(@this_restaurant), class: "nav-link" %>
  </ul>
  <br>
<% if user_signed_in? %>
  <% if current_user.customer %>
    <div class="m-4">
    <h2>Add a Review</h2>
    <%= simple_form_for [@this_restaurant, @review] do |form| %>
      <%= form.input :comment %>
      <%= form.input :rating, collection: [0, 1, 2, 3, 4, 5], label: "Select Rating" %>
      <%= form.submit 'Submit', class: "btn btn-primary" %>
    <% end %>
  </div>
  <% end %>
  </div>
    <% if current_user.id == @this_restaurant.user_id %>
      <%= link_to "Add Menu", new_restaurant_restaurant_menu_path(@restaurant), class: "nav-link" %>
      <%= link_to "Edit your info", edit_restaurant_path(@restaurant), class: "nav-link" %>
      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
    <% end %>
  <%= render "restaurant_menus/show" %>
<% end %>
