
<div class="navbar">
  <ul>
    <li class="list">
      <%= link_to root_path do %>
        <span class="icon"></span>
        <ion-icon size="large", name="home"></ion-icon>
        <span class="text">Home</span>
      <% end %>
    </li>
    <li class="list">
      <%= link_to search_pages_path  do %>
        <span class="icon"></span>
        <ion-icon size="large", name="search"></ion-icon>
        <span class="text">Search</span>
      <% end %>
    </li>
    <li class="list">
      <%= link_to  do %>
        <span size="large", class="icon"></span>
        <ion-icon size="large", name="apps"></ion-icon>
        <span class="text">Categories</span>
      <% end %>
    </li>
    <li class="list">
      <% if user_signed_in? %>
        <% if !current_user.restaurant_owner? %>
          <% unless current_user.customer == nil %>
            <%= link_to edit_customer_path(current_user.id, @customer)  do %>
              <span class="icon"></span>
              <ion-icon size="large", name="person"></ion-icon>
              <span class="text">My Profile</span>
            <% end %>
          <% end %>
        <% else %>
          <% unless current_user.restaurant == nil %>
            <%= link_to restaurant_path(current_user.restaurant)  do %>
              <span class="icon"></span>
              <ion-icon size="large", name="person"></ion-icon>
              <span class="text">My Restaurant</span>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
            <span class="icon"></span>
            <ion-icon size="large", name="person"></ion-icon>
            <span class="text">Sign In</span>
          <% end %>
      <% end %>
    </li>
  </ul>
</div>
