
<div class="navbar">

  <ul>
    <% if current_page?(root_path) %>
      <li class="list">
        <%= link_to root_path do %>
        <i class="fa-solid fa-house fa-xl" style="color: #ffcc00;"></i>
        <% end %>
      </li>
    <% else %>
      <li class="list">
        <%= link_to root_path do %>
        <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
        <% end %>
      </li>
    <% end %>

    <% if current_page?(search_pages_path) %>
      <li class="list">
        <%= link_to search_pages_path  do %>
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ffcc00;"></i>
        <% end %>
      </li>
    <% else %>
      <li class="list">
        <%= link_to search_pages_path  do %>
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i>
        <% end %>
      </li>
    <% end %>

    <% if current_page?(leaderboard_path) %>
      <li class="list">
          <%= link_to leaderboard_path do %>
          <i class="fa-solid fa-trophy fa-xl" style="color: #ffcc00;"></i>
        <% end %>
      </li>
    <% else %>
      <li class="list">
          <%= link_to leaderboard_path do %>
          <i class="fa-solid fa-trophy fa-xl" style="color: #ffffff;"></i>
        <% end %>
      </li>
    <% end %>

    <% if user_signed_in? %>
      <% if current_page?(leaderboard_path) || current_page?(root_path) || current_page?(search_pages_path)%>
        <li class="list">
          <% if user_signed_in? %>
            <% if !current_user.restaurant_owner? %>
              <% unless current_user.customer == nil %>
                <%= link_to edit_customer_path(current_user.id, @customer)  do %>
                  <i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i>
                <% end %>
              <% end %>
            <% elsif current_user.restaurant_owner?%>
              <% unless current_user.restaurant == nil %>
                <%= link_to restaurant_path(current_user.restaurant)  do %>
                  <i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i>
              <% end %>
            <% end %>
          <% end %>
        </li>

      <% else %>

          <li class="list">
            <% if user_signed_in? %>
              <% if !current_user.restaurant_owner? %>
                <% unless current_user.customer == nil %>
                  <%= link_to edit_customer_path(current_user.id, @customer) do %>
                    <i class="fa-solid fa-user fa-xl" style="color: #ffcc00;"></i>
                  <% end %>
                <% end %>
              <% else %>
                <% unless current_user.restaurant == nil %>
                  <%= link_to restaurant_path(current_user.restaurant)  do %>
                    <i class="fa-solid fa-user fa-xl" style="color: #ffcc00;"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </li>

      <% end %>
    <% else %>
      <li class="list">
        <%= link_to new_user_session_path  do %>
          <i class="fa-solid fa-user fa-xl" style="color: #ffffff;"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
